<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allergy Checker</title>
</head>
<body>
    <h1>Allergy Input</h1>
    <form action="{{ url_for('allergy.index') }}"  method="POST">
        <label for="allergies">Enter your allergies (comma-separated):</label>
        <input type="text" name="allergies" id="allergies" required>
        <button type="submit">Save</button>
    </form>

    {% if allergies %}
        <h2>Stored Allergies:</h2>
        <ul>
            {% for allergy in allergies %}
                <li>
                    {{ allergy.name }}
                    <a href="{{ url_for('allergy.edit_allergy', allergy_id=allergy.id) }}">Edit</a>
                    <a href="{{ url_for('allergy.delete_allergy', allergy_id=allergy.id) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{{ url_for('auth.logout') }}" method="POST">
        <button type="submit">Logout</button>
    </form>
</body>
</html>